.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
    height: 270px;
    background: url('../images/banner-homepage-mobile.png') no-repeat center center /cover;
}

.banner-title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--text-colo);
    text-align: center;
}

.banner-name-event {
    display: block;
}