/* header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-secondary);
    padding: 1.5rem 2rem;
    position: relative;
}

.icon-menu {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.list-menu {
    background-color: var(--bg-secondary);
    padding: 2rem 1rem;
    position: absolute;
    top: 100%;
    right: 0;
}

.list-menu-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.list-menu-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list-menu-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
}

.line-menu {
    margin: 0 .5rem;
}

.list-menu-invisible {
    display: none;
}


/* banner styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
    height: 270px;
    background: url('../images/banner-homepage-mobile.png') no-repeat center center /cover;
}

.banner-title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--text-colo);
    text-align: center;
}

.banner-name-event {
    display: block;
}


/*main > section > .about styles */
.main {
    background: var(--bg-main);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.5rem 0 1.5rem;
    margin-bottom: 4.5rem;
}

.about-image {
    width: 100%;
}

.about-title {
    font-size: 2rem;
    font-weight: 700;
    max-width: 312px;
    text-align: center;
}

.about-title-local {
    display: block;
}

.about-text {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: center;
}

.about-buy-ticket {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: 1.25rem;
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--bg-secondary);
    color: var(--text-color);
    box-shadow: 3px 3px 1px #444444;
}

/*main > section > .line-up styles */

.line-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    text-align: center;
}

.line-up_title {
    font: 400 3rem var(--font-secondary);
    margin-bottom: 5rem;
}

.line-up-dates_day {
    display: inline-block;
    font: 400 2rem var(--font-secondary);
    text-transform: uppercase;
    background-color: var(--bg-dates);
    margin-bottom: 3rem;
}
.day_saturday {
    padding: 1rem;
    line-height: normal;
}
.day_sunday {
    padding: 1rem .63rem 1rem 1rem;
    margin-top: 5rem;
}

.line-up-days_title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.line-up_main-list, .line-up_secondary-list, .line-up_tertiary-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin-bottom: 1rem;
}

.line-up_main-list_item {
    font-size: 2.5rem;
    font-weight: 700;
}

.line-up_secondary-list_item {
    font-size: 2rem;
    font-weight: 700;
}

.line-up_tertiary-list_item {
    font-size: 2rem;
    font-weight: 500;
}

.line-up_item-margin {
    margin-bottom: 1rem;
}

/* Image guitar styles*/
.image-guitar {
    width: 100%;
}