@import url("../style.css");

.main {
    background: var(--bg-main);
}


/* banner styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/img-ticket/banner-ticket-mobile.png") no-repeat center center /cover;
    height: 270px;
}

.banner-title {
    font: 400 2rem var(--font-secondary);
}



/* form styles */
.form-title {
    font: 400 2rem var(--font-secondary);
    margin: 2rem 1.5rem 3rem 1.5rem;
    text-align: center;
    color: var(--text-response);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    max-width: 800px;
    margin: auto;
}

label {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-response);
}

input, select {
    font-size: 1.25rem;
    padding: .5rem;
}

input[type="submit"] {
    background: var(--bg-secondary) url("../images/img-ticket/arrow-left.svg") no-repeat center right 1rem;
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 700;
    min-width: 200px;
    box-shadow: 4px 4px 0px #000000;
    padding: .5rem;
    margin: auto auto 2rem auto;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}



/* tablet */
@media screen and (min-width: 768px) {
    /*banner styles */
    .banner {
        background-image: url('../images/img-ticket/banner-ticket-tablet.png');
        height: 384px;
    }
    
    .banner-title {
        font-size: 4rem;
        line-height: 5rem;
    }


    /* form styles */
    .form-title {
        font-size: 3rem;
        margin-left: 3.75rem;
        margin-right: 3.75rem;
    }

    .form-title, label {
        color: var(--text-color);
    }
}



/* desktop */
@media screen and (min-width: 1440px) {
    /*banner styles */
    .banner {
        background-image: url('../images/img-ticket/banner-ticket-desktop.png');
        height: 407px;
    }
    
    .banner-title {
        font-size: 4rem;
        line-height: 5rem;
    }


    /* form styles */
    .form {
        display: grid;
        grid-template-areas:
        'name name'
        'email email'
        'ticket-type date-birth'
        'sectors event-date'
        'submit submit';
        gap: 1.5rem;
    }
    label:nth-of-type(1) {
        grid-area: name;
    }

    label:nth-of-type(2) {
        grid-area: email;
    }

    label:nth-of-type(3) {
        grid-area: ticket-type;
        width: 388px;
    }

    label:nth-of-type(4) {
        grid-area: date-birth;
        width: 388px;
    }

    label:nth-of-type(5) {
        grid-area: sectors;
        width: 388px;
    }

    label:nth-of-type(6) {
        grid-area: event-date;
        width: 388px;
    }
    input[type="submit"] {
        grid-area: submit;

    }
}
