@import url("css/header.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    --bg-secondary: #4650BD;
    --text-color: white;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}