@import url("css/home.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    --bg-secondary: #4650BD;
    --bg-dates: #008364;
    --text-color: white;

    --font-main: 'Raleway', sans-serif;
    --font-secondary: 'Calistoga', cursive;
}

body {
    min-height: 100vh;
    font-family: var(--font-main);
    color: var(--text-color);
}